.bar {
    animation: scroll 1.25s ease-in infinite;
}

@keyframes scroll {
    0% {
        width: 0%;
    }

    60% {
        width: 100%;
    }

    100% {
        width: 0%;
        transform: translateX(150px);
    }
}